.board {
  width: 100%;
  position: relative;
  background: #D2D4FB;
}

.grid-line-x {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: white;
}

.grid-line-y {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: white;
}